<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="Bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="true">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib</directory>
            <exclude>
                <directory>../tests/</directory>
                <directory>../vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Test">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="zend.enable_gc" value="1"/>
    </php>
</phpunit>